.block {
    border: 3px double black;
}
.block:hover div:nth-child(2n) {
    background-color: yellow;
}
.block:hover div:nth-child(2n-1) {
    background-color: blue;
}
.block:hover div:not(.not-color) {
    color: red;
    font-size: 30px;
    font-weight: bold;
}
.block > div {
    border: 1px solid blue;
    height: 40px;
}
.block > div:nth-child(-n+1) {
    background-color: gray;
}
.class {
    border: 2px double red;
    background-color: pink;
    color: red;
    padding: 5px;
}
.class:empty {
    display: none;
}
.button {
    box-shadow: 3px 4px 3px black;
    background-color: yellow;
}
.button:hover {
    box-shadow: 1px 2px 4px gray;
    background-color: pink;
}